.App {
  text-align: center;
  min-height: 100vh;
  max-height: 100%;
}

body {
  margin: 0;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #297127;
  color: white;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

.Navbar a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin: 0px 20px;
  font-size: 1.2rem;
  color: white;
}

.selected {
  color: #fff;
  border-bottom: rgba(255, 255, 255, 0.639) solid 2px;
  padding-bottom: 5px;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}


.Navbar.dark {
  background: #515f7d;
}

.Navbar.light {
  background: #aeafb1;
} 